{% extends "AppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
		<nav class="navbar navbar-inverse" style="border-radius:0px; ">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="{{ path('index') }}">Online Aggregator</a>
				</div>
			</div>
		</nav>
	<div class="container">
		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-md-8">
				<div class="well well-sm" style="background: #4DB6AC;border:0px;border-bottom: 5px solid #004D40">
					<h4 style="margin-left:20%;">Find Items from different e-commerce of Nepal.</h4>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="jumbotron" style="background-color: #4DB6AC;color:#E0F2F1;min-height: 400px;">
			<div class="row">
				<div class="col-lg-2">
				</div>
				<div class="col-lg-8">
					<div class="panel panel-primary" style="color:black;" >
						<div class="panel-heading">Search Item</div>
						<div class="panel-body">
							{{ form(form) }}
						</div>
					</div>
				</div>
				<div class="col-lg-2">

				</div>
			</div>
		</div>
	</div>

{% endblock %}